@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Blog Başlığı</th>
        
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                @item.BlogId
                </td>
                <td>
                @item.BlogTitle
                </td>
               
            </tr>
    }
</table>