<div class="tech-btm">
	<h4>Mail bültenimize abone olun!</h4>
	<p>Gündemden geri kalmayın</p>
	<form action="/Newsletter/SubscribeMail" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Abone Ol">
	</form>

</div>
